.env
.env.backup
.phpunit.result.cache
/.blueprint
/.idea
/.npmrc
/.phpstorm.meta.php
/.vscode
/_ide_helper.php
/_ide_helper_models.php
/draft.yml
/node_modules
/public/hot
/public/packages/
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
Makefile
npm-debug.log
public/css/app.css
public/js/app.js
public/mix-manifest.json
yarn-error.log